body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #343a40;
}

.container {
    background-color: #fff;
    padding: 20px;
    margin: auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.btn-primary,
.btn-secondary,
button {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover,
.btn-primary:hover,
button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-selected {
    background-color: #0069d9;
    color: white;
}

.btn-block {
    margin-bottom: 10px;
}

.form-control {
    background-color: #e9ecef;
    color: #495057;
}

h1,
h2 {
    color: #007BFF;
}

#3dchart {
    width: 100%;
    min-height: 400px;
}